
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.dedos {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

button {
    background-color: #e2cadb;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #eb91d3;
}

#mensaje {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

#imagen-container img, img {
    margin-top: 20px;
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
}

img {
    width: 300px;
    
}