/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.logo h1 {
    font-size: 1.5em;
    margin-left: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Estilos para botón hamburguesa en PC */
.navbar-toggler {
    display: none; /* Ocultar el botón en PC */
    color: black; /* Cambiar el color del botón hamburguesa a negro */
    font-size: 24px;
    padding: 5px 10px;
}




.nav-links,
.nav-buttons {
    list-style: none;
    padding: 0;
    margin-left: 250px;
    display: flex;
}

.nav-links li,
.nav-buttons li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #45a049;
}

.nav-buttons button {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.nav-buttons button:hover {
    background-color: #4CAF50;
    color: #ddd;
    border: #ddd solid 1px;
}

/* Estilos de la sección del héroe */
.hero {
    background: url('img/juguetes.jpg') no-repeat center center/cover;
    color: white;
    padding: 4em 0; /* Espaciado interno superior e inferior */
    text-align: center;
    position: relative;
    height: 400px;
    text-decoration: none;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-size: 3em;
    margin: 0.5em 0;
}

.hero p {
    font-size: 1.5em;
}

.cta-button, .btn-carrito {
    background-color: #4CAF50;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s;
}

.cta-button:hover, .btn-carrito:hover {
    background-color: #45a049;
}


/* Estilos de la sección de productos y destacados */
.products,
.featured {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
}


.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    width: 100%; /* Ajusta el ancho de los productos */
    max-width: 300px; /* Máximo ancho de cada producto */
    margin: 1em;
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
}


.product img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto; /* Mantiene la proporción original */
    max-width: 100%; /* Establece el ancho máximo para evitar que se amplíen */
}


/* Estilos para el método Montessori y ubicación */

.location {
    padding: 2em;
    text-align: center;
}



.montessori-method, .location {
    background: rgb(160, 235, 183);

}
/* Estilos para imágenes de la sección Montessori */
.montessori-method img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


/* Estilos para la sección de productos destacados */
.featured {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.featured h2 {
    text-align: center;
    margin-bottom: 20px;
}
/* Estilos para el carrusel de productos */
#productCarousel {
    overflow: hidden;
}

#productCarousel .carousel-item {
    text-align: center;
    transition: transform 0.6s ease; /* Transición suave al cambiar de slide */
}
#productCarousel .carousel-control-prev,
#productCarousel .carousel-control-next {
    width: 15%;
    background-color: transparent;
    bottom: 10px;
    color: orange;
}
#productCarousel .carousel-control-prev-icon,
#productCarousel .carousel-control-next-icon {
    background-color: orange;
    border-radius: 50%;
    padding: 10px;
}

#productCarousel .carousel-indicators {
    bottom: 5px;
}

#productCarousel .carousel-indicators li {
    background-color: orange;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

#productCarousel .carousel-indicators .active {
    background-color: darkorange;
}

/* Estilos para el footer */
footer {
    background-color: #4CAF50;
    color: white;
    padding: 2em 1em;
    text-align: center;
}
.footer-section a {
    color: #007bff; /* Color del texto de los enlaces al pasar el mouse */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    transition: color 0.3s ease; /* Transición suave del color al pasar el mouse */
}



.footer-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 1em;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section img{
    width: 300px;
    Box-shadow: 10px 10px 50px 2px #202f20; 
    background-color: #ddd;
}


.icon img{
    width: 40px; /* Ancho deseado para los iconos */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 0 10px; /* Margen horizontal entre los iconos */
    transition: transform 0.3s ease; /* Transición suave */
    background-color: #ddd;
    border-radius: 5px 5px;
    padding: 1;
}

.icon img:hover {
    transform: scale(1.2); /* Efecto de escala al pasar el ratón */
}


/* Media queries para tamaños de pantalla */
@media screen and (max-width: 728px) {
    /* Mostrar el botón hamburguesa en dispositivos móviles y tablets */
    .navbar-toggler {
        display: block;
    }

    /* Ajustes para el menú desplegable */
    .navbar-collapse {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Ajustar la posición del menú desplegable según el header */
        right: 0;
        width: 40%;
        background-color: #4CAF50;
        padding: 10px 0;
        animation: slideIn 0.5s forwards; /* Animación para mostrar el menú */
        z-index: 1000;
        margin-top: 20px;
    }

    .navbar-collapse.show {
        display: flex; /* Mostrar el menú desplegable al hacer clic */
    }

    /* Estilos para los enlaces del menú */
    .nav-links, .nav-buttons {
        text-align: center; /* Centrar los enlaces del menú */
        display: block;
        margin: 0;
    }

    .nav-links a, .nav-buttons button {
        display: block; /* Mostrar como bloque */
        width: 100%; /* Ocupa todo el ancho */
        margin: 5px 0;
    }


/* Animación para desplegar el menú hamburguesa */
@keyframes slideIn {
    0% {
        transform: translateX(100%); /* Desplaza el menú hacia la derecha al 100% */
        opacity: 0; /* Inicia con opacidad 0 */
    }
    100% {
        transform: translateX(0); /* Vuelve a la posición original (0) de manera gradual */
        opacity: 1; /* Opacidad completa al final */
    }
}

/* Estilos de la sección del héroe */
.hero {
    background: url('img/juguetes.jpg') no-repeat center center/cover;
    color: white;
    padding: 4em 0; /* Espaciado interno superior e inferior */
    text-align: center;
    position: relative;
    height: 400px;
    text-decoration: none;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-size: 3em;
    margin: 0.5em 0;
}

.hero p {
    font-size: 1.5em;
}

.cta-button, .btn-carrito {
    background-color: #4CAF50;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s;
}

.cta-button:hover, .btn-carrito:hover {
    background-color: #45a049;
}

.hero {
    padding: 2em 0;
    height: auto;
}

.hero h2 {
    font-size: 2em;
}

.hero p, .productos .product-card p {
    font-size: 1.2em;
}

.cta-button {
    padding: 0.8em 1.5em;
    font-size: 0.9em;
}


/* Ajustes para la sección de productos */
.productos .product-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em 0;
}

.productos .product-card img {
    width: 80%;
    height: auto;
}

.productos .product-card h3 {
    font-size: 1.5em;
}



.productos .product-card .btn-carrito {
    padding: 0.5em 1em;
    font-size: 0.9em;
}

/* Ajustes para el footer */
footer {
    text-align: center;
    padding: 2em 1em;
}

footer .footer-columns {
    flex-direction: column;
    align-items: center;
}

footer .footer-columns .column {
    margin: 1em 0;
    text-align: center;
}


}


@media screen and (max-width: 1024px) {

    /* Mostrar el botón hamburguesa en dispositivos móviles y tablets */
    .navbar-toggler {
        display: block;
    }

    /* Ajustes para el menú desplegable */
    .navbar-collapse {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Ajustar la posición del menú desplegable según el header */
        right: 0;
        width: 40%;
        background-color: #4CAF50;
        padding: 10px 0;
        animation: slideIn 0.5s forwards; /* Animación para mostrar el menú */
        z-index: 1000;
        margin-top: 20px;
    }

    .navbar-collapse.show {
        display: flex; /* Mostrar el menú desplegable al hacer clic */
    }

    /* Estilos para los enlaces del menú */
    .nav-links, .nav-buttons {
        text-align: center; /* Centrar los enlaces del menú */
        display: block;
        margin: 0;
    }

    .nav-links a, .nav-buttons button {
        display: block; /* Mostrar como bloque */
        width: 100%; /* Ocupa todo el ancho */
        margin: 5px 0;
    }


/* Animación para desplegar el menú hamburguesa */
@keyframes slideIn {
    0% {
        transform: translateX(100%); /* Desplaza el menú hacia la derecha al 100% */
        opacity: 0; /* Inicia con opacidad 0 */
    }
    100% {
        transform: translateX(0); /* Vuelve a la posición original (0) de manera gradual */
        opacity: 1; /* Opacidad completa al final */
    }
}
    .hero{
        height: auto;
    }
}